


<div id="header" style="width:100%; height:202px; background-image:url('assets/header_strip.png'); background-repeat:repeat; margin: 0; padding: 0; "> 
<image src="assets/header.png" />
</div>

<div id = 'sidebar'  style="width:200px; height:75%;  background-color:red; float:left; margin: 0; padding: 0;" >

		<div id = "search box" style="height:50; background-color:green;  margin: 0; padding: 0;">
			<form action='showmap' method='POST'>
				Your neighbourhood:
				<input type='text' name='address' id ='address' >
				<input type='submit' name='Go!' value='Go'>
			</form>
		</div>
		<div id ="tweet_box" ></div>

</div>

<div id="map_canvas" style="width:50%; height:50%; margin: 0; padding: 0;"></div>

<script>
var map = init_map("map_canvas",
                   <%= @location.latitude %>,
                   <%= @location.longitude %>);

<% @fixmystreet.size.times do |i| %>
	<% coord = @fixmystreet[i].geo.split(' ') %>
    pin_event(map,
              new Event("<%= @fixmystreet[i].title %>",
                        <%= coord[0] %>,
                        <%= coord[1] %>));
<% end %>
resizeMap();
</script>
