<!DOCTYPE html>
<html>
<head>
  <title>Geonews</title>
  <%= stylesheet_link_tag    "application" %>
	<%= (@in_intro) ? stylesheet_link_tag("intro") : '' %>
		
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDGdtL_VrP1nETaHipA2FdeDtu_OPI7V4c&sensor=false"></script>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
    </style>
    <script type="text/javascript">
      var lat = ''
      var lng = ''

      function initialize() {
        if (lat == '' && lng == '') {
          return;
        }
        var myOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        resizeMap();
      }
      
      function resizeMap() {
        if (document.getElementById('map_canvas') != null) {
          var w = document.documentElement.clientWidth;
          var h = document.documentElement.clientHeight;

          if (document.getElementById('header') != null && document.getElementById('sidebar') != null) {
            var sideWidth = document.getElementById('sidebar').clientWidth ;
            var headerHeight = document.getElementById('header').clientHeight ;
            
            document.getElementById('sidebar').style.height = (h - headerHeight) + 'px';
            document.getElementById('map_canvas').style.width =  (w - sideWidth) + 'px';
            document.getElementById('map_canvas').style.height =  (h - headerHeight) + 'px';            
          }
        }
      };

      function locateMe() {
        navigator.geolocation.getCurrentPosition(GetLocation);
      }

    
    function GetLocation(location) {
        lat = location.coords.latitude;
        lng = location.coords.longitude;
        initialize();
    }

    </script>


</head>
<body>

<%= yield %>

</body>
</html>
